@import url("./utils.css");

.text-warning-dark {
  color: #c1940d !important;
}
.visibility-hidden {
  visibility: hidden;
}
.link {
  text-decoration: none;
  color: black;
}
.app_wrapper a {
  position: relative;
}
.app_wrapper a::after {
  position: absolute;
  content: "Merchant";
  width: 110px;
  height: 27px;
  background: white;
  top: 7px;
  right: 90px;
  z-index: 100;
  border: 1px solid #c1940d;
  border-radius: 5px;
  font-weight: 500;
  text-align: center;
}

.app_wrapper .rider::after {
  content: "Rider";
}

.offers .card div {
  border: 1px solid #333;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.offers .card i {
  font-size: 30px;
}
.offers .card {
  border: none;
}
.offers .card p {
  font-size: 20px;
}
